html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

ol, ul {
  list-style: none;
}

.root-container {
  display: grid;
  grid-template: min-content min-content / 1fr 4fr;
  height: 100vh;
  min-height: 100vh;
  width: 100vw;
}

.header {
  display: grid;
  grid-template-rows: 1fr 1.7fr;
}

.top-container {
  display: grid;
  align-items: center;
  height: min-content;
  grid-template-columns: 1fr 8fr 1fr 1fr max-content;
  padding: 0.5rem 4rem 0.5rem 2rem;
}

.top-container button {
  background-color: white;
  border: none;
}

.top-container button:hover {
  color: orange;
}

.search {
  width: 85%;
  height: 1.5rem;
  border: none;
  border-radius: 12px;
  background-color:  #e8e8f0;
}

.small-user-icon {
  width: 40px;
  background-color: lightpink;
  border-radius: 20px;
}

.bottom-container {
  display: grid;
  grid-template-columns: 1fr 7fr 1fr 1fr 1fr;
  grid-gap: 1rem;
  padding: 0 4rem 0 1.5rem;
  height: min-content;
  align-items: center;
  align-self: center;
}

.bottom-container button {
  border: none;
  color: white;
  font-weight: 600;
  background-color: #1e90ff;
  border-radius: 50px;
  padding: 12px 20px;
  width: 100px;
}

.big-user-icon {
  width: 70px;
  background-color: lightpink;
  border-radius: 40px;
  justify-self: center;
}

.greeting {
  grid-column: 2;
  grid-row: 1;
}

.name-display.bold {
  grid-column: 2;
  grid-row: 2;
  font-size: 1.3rem;
  padding: 0;
}

.sidebar {
  grid-column: 1;
  grid-row: 1 / 3;
  min-width: min-content;
  font-weight: 700;
  color: white;
  background-color: #1e90ff;
}

.sidebar ul {
  display: grid;
  align-items: center;
}

.sidebar li {
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-content: start;
  align-items: center;
}

.sidebar li:hover {
  background-color: #0e80ef;
}

.branding {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 1rem 0.5rem 2rem 0.5rem;
  align-items: center;
}

.branding span {
  justify-self: center;
  font-size: 3rem;
}

.branding text {
  font-size: 1.5rem;
}

.navigation span {
  padding: 0.5rem 1rem;
  justify-self: end;
}

.navigation .settings {
  margin-top: 2rem;
}

.main-content {
  display: grid;
  grid-template: 1fr repeat(10, 3fr) / 4fr 4fr 3fr;
  grid-template-areas:
    "projects projects announcements-container"
    "projects projects announcements-container"
    "projects projects announcements-container"
    "projects projects announcements-container"
    "projects projects announcements-container"
    "projects projects trending-container"
    "projects projects trending-container"
    "projects projects trending-container"
    "projects projects trending-container"
    "projects projects trending-container"
    "........ ........ ..................";
  background-color: #e8e8f0;
  box-shadow: inset 0px 2px 4px rgba(100, 100, 100, 0.6);
}

.heading {
  font-weight: 800;
  font-size: 18px;
  margin-left: 0.5rem;
}

.projects-title {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

.projects {
  display: grid;
  grid-gap: 1rem;
  grid-row: 1 / span 1;
  grid-area: projects;
  grid-template: 1fr 10fr 10fr 10fr / 1fr 1fr;
  padding: 1rem;
}

.card {
  display: grid;
  border-radius: 6px;
  grid-column: span 1;
  padding: 2rem 1.5rem 0.5rem 1.5rem;
  border-left: 6px solid orange;
  background-color: white;
  box-shadow: 0px 2px 4px rgba(100, 100, 100, 0.6);
}

.card button {
  border: none;
  background-color: white;
  padding: 0.5rem;
}

.card button:hover {
  color: orange;
}

.card > .buttons {
  justify-self: end;
  align-self: end;
}

.announcements-title {
  align-self: center;
}

.announcements-container {
  display: grid;
  grid-area: announcements-container;
  grid-template-rows: 1fr 5.4fr;
  padding: 0 1rem 0 0;
}

.announcements {
  background-color: white;
  padding: 1rem;
  box-shadow: 0px 2px 4px rgba(100, 100, 100, 0.6);
  border-radius: 6px;
}

.trending-title {
  align-self: center;
}

.trending-container {
  display: grid;
  grid-area: trending-container;
  padding: 1rem 1rem 1rem 0;
  grid-template-rows: 1fr 4fr;
}

.trending {
  background-color: white;
  padding: 1rem;
  box-shadow: 0px 2px 4px rgba(100, 100, 100, 0.6);
  border-radius: 6px;
}

p.bold {
  font-weight: 700;
  padding-bottom: 0.5rem;
  font-size: 1rem;
}

p.bold + p {
  padding-bottom: 0.7rem;
}

.announcements-container .bold {
  font-size: 0.8rem;
  padding-bottom: 0.3rem;
  padding-top: 0.3rem;
}

.announcements p {
  font-size: 0.5rem;
}
